{% extends 'base.html' %}

{% block content %}

         


    <div class="container" style="width: 50%;">
    {% for tweet in tweets%}
        <div class="card" style="padding: 10px;">
            <div class="card-header" style="background-color: cornflowerblue;">
                <h5>{{tweet.username}}</h5>
            </div>
            <div class="'card-body">
                <p class="card-text">{{tweet.massage}}</p>
            </div>
            {% if tweet.username == user %}
            <a href="{% url 'tweetapp:deletetweet' id=tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    {% endfor %}

    </div>
{% endblock %}
